<?xml version="1.0" encoding="UTF-8"?>
<!-- src: https://www.baeldung.com/spring-boot-logging -->
<configuration>
    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <logger name="com.phpusr.wildrace" level="debug" additivity="false">
        <appender-ref ref="Console" />
    </logger>

</configuration>