<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:with="host = ${isProdMode} ? '/' : 'http://192.168.1.100:8000/'">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="icon" href="/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">

    <title>Wild Race</title>

    <script th:inline="javascript">
        document.frontendData = [[${frontendData}]];
    </script>
</head>
<body>

<noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app"></div>

<script th:if="${!isProdMode}" th:src="@{${host} + 'app.js'}"></script>

<script th:if="${isProdMode}" th:src="@{${host} + 'js/app.62ef08e1.js'}"></script>
<script th:if="${isProdMode}" th:src="@{${host} + 'js/chunk-vendors.d5e7dcd9.js'}"></script>

</body>
</html>