<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:with="host = ${isProdMode} ? '/' : 'http://192.168.1.100:8000/'">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="icon" th:href="@{'/favicon.ico'}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">

    <th:block th:each="cssFile : ${cssFiles}">
        <link th:href="@{${cssFile}}" rel="stylesheet" />
    </th:block>

    <title>Wild Race</title>

    <script th:inline="javascript">
        document.frontendData = [[${frontendData}]];
    </script>
</head>
<body>

<noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app"></div>

<th:block th:each="jsFile : ${jsFiles}">
    <script th:src="@{${jsFile}}"></script>
</th:block>

</body>
</html>